html {
  font: {
    family: $main-font-family;
    size: $main-font-size;
	  weight: $main-font-weight;
  }
  color: $default-text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $headers-color;
}

a {
  color: $default-link-color;
  transition: color 0.3s ease;
  
  &:hover {
    color: $default-link-hover-color;
  }
}